.header__logo {
position: absolute;
}

@media screen and (max-width: 375px) {
    .header__logo {
        width: 134,85px;
        height: 56px;
        left: 120px;
        top: 62px;
    }
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 134,85px;   
        height: 56px;
        left: 39px;
        top: 50px;
    }
}

@media screen and (min-width: 1275px) {
    .header__logo {
        height: 56px;
        width: 134.85072326660156px;
        left: 165px;
        top: 102px;
        border-radius: 0px;
        
    }

}