.title__secondline{
    position: absolute;
    width: 327px;
    height: 76px;
    left: 24px;
    top: 175px;
    
    font-size: 26px;
    line-height: 38px;

    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}