.email {
background-color: #696969 ;
mix-blend-mode: normal;
}

.email::placeholder {
color: #FFFFFF;
}

@media screen and (max-width: 375px) {
.email {
     border-radius: 6rem;
     width: 327px;
     height: 46px;
     left: 24px;
     top: 465px;
     opacity: 0.5;
}

.email::placeholder {
    font-size: 14px;

    height: 28px;
    left: 9.79%;
    padding-left: 5%;
    right: 61.16%;
    top: calc(50% - 28px/2);
    }
}

@media screen and (min-width: 768px) {
    .email {
        border-radius: 6rem;
        width: 450px;
        height: 56px;
        left: 39px;
        top: 327px;
        position: relative;
   }
   
   .email::placeholder {
       font-size: 14px;
   
       height: 28px;
       left: 9.79%;
       padding-left: 5%;
       right: 61.16%;
       top: calc(50% - 28px/2);
       }
}

@media screen and (min-width: 1275px) {
    .email {
        border-radius: 6rem;
        width: 327px;
        height: 46px;
        left: 24px;
        top: 465px;
        opacity: 0.5;
   }
   
   .email::placeholder {
       font-size: 14px;
   
       height: 28px;
       left: 9.79%;
       padding-left: 5%;
       right: 61.16%;
       top: calc(50% - 28px/2);
       }

}