body {
    font-family: Chivo, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background: #121725;
    padding: 0 auto;
    margin: 0 auto;
}

@media screen and (max-width: 375px) {
    body {
        height: 667px;
    }
}

@media screen and (min-width: 768px) {
    body {
        height: 1024px;
    }
    .pattern__dots {
        background-image: url(../../assets/desktop/bg-pattern-dots.svg);
        position: absolute;
        width: 232px;
        height: 104px;
        left: 30px;
        top: 1010px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        height: 900px;
    }
}
