body {
    background:  #121725;
    font-family: Chivo, sans-serif;
    font-weight: 400;
    font-style:  normal;
    
    margin:  0 auto;
    padding: 0 auto;

    text-align: center;
    
}

@media screen and (max-width: 375px) {
    body {
        height: 667px;
    }
}

@media screen and (min-width: 768px) {
    body {
        height: 1024px;
    }
    .pattern__dots {
        background-image: url(../../assets/desktop/bg-pattern-dots.svg);
        position: absolute;
        
        height: 104px;
        left:   30px;
        top:    1010px;
        width:  232px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        height: 900px;
    }
    .pattern__dots {
        background-image: url(../../assets/desktop/bg-pattern-dots.svg);
        position: absolute;
        height: 104px;  
        left:   1208px;
        top:    718px;
        width:  232px;      
    }

}

