.background__image {
    position: absolute;
    }

    @media screen and (max-width: 375px) {
        .background__image {
            background-image: url(../../mobile/image-host.jpg) ;

            height: 667px;
            left: 0px;
            top: 0px;
            width: 375px;

            mix-blend-mode: screen;
            opacity: 0.1;
        }
    }
    
    @media screen and (min-width: 768px) {
        .background__image {
    
            background-image: url(../../tablet/image-host.jpg);

            height: 767px;
            left: 277px;
            top: 0px;
            width: 491px;          
        }
    }
    
    @media screen and (min-width: 1275px) {
        .background__image {
           background-image: url(../../desktop/image-host.jpg); 
           background-repeat: no-repeat;

           height: 640px;
           left: 552px;
           top: 130px;
           width: 888px;
        }
    
    }
  