.background__image {
    position: absolute;
    }

    @media screen and (max-width: 375px) {
        .background__image {
            background-image: url(../../mobile/image-host.jpg) ;
            width: 375px;
            height: 667px;
            left: 0px;
            top: 0px;

            mix-blend-mode: screen;
            opacity: 0.1;
        }
    }
    
    @media screen and (min-width: 768px) {
        .background__image {
    
            background-image: url(../../tablet/image-host.jpg);
            width: 491px;
            height: 767px;
            left: 277px;
            top: 0px;
        }
    }
    
    @media screen and (min-width: 1275px) {
        .background__image {
           width: 134.85px;
           height: 56px;
           left: 165px;
           top: 102px;
        }
    
    }
  